{% extends 'customer/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}

<div class="card card-group ">
    {% for j in pro %}
    
    
      <div class="col-md-3 col-sm-6">
      <a href="{% url 'product-detail' j.id %}" class="btn"><div><img style="height: 200px; width: 200px;" src="{{j.image.url}}" alt="" height="200px"><br><span class="fw-bold">{{j.name}}</span><br><span class="fs-5">{{j.selling_price}}</span></div></a>
      </div>

    
   
    {% endfor %}
  </div>
{% endblock main-content %}